body {
  background: linear-gradient(to right, green, blue);
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.button:hover {
  background-color: #007bff;
  border-color: #007bff;
}
