body {
  background: linear-gradient(to right, rgb(14, 186, 94), rgb(43, 43, 224));
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.button:hover {
  background-color: #007bff;
  border-color: #007bff;
}
